@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

.App {
  padding: 20px;
}

.Furniture-Image {
  object-fit: cover;
  height: 384px;
  width: 100%;
}

.Furniture-Image-Container {
  background: #f0e3d1;
  background-opacity: 50%;
  padding: 20px;
}

.Furniture-List {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 40px;
}

.Furniture-Content {
  padding-left: 8px;
  padding-right: 8px;
}

.Location-Row {
  display: flex;
  align-items: center;
  margin-top: 8px;
  color: #736d6c;
  font-size: 14px;
}

.Header {
  font-weight: 800;
}

.Subheader {
  font-weight: 500;
  font-size: 12px;
}

.Caption {
  font-weight: 400;
  color: #736d6c;
  font-size: 12px;
}

.Input {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 24px;
}

.Space-Between > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

@media (min-width: 768px) {
  .Furniture-List {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .Furniture-Image {
    height: 220px;
  }
}

@media (min-width: 1024px) {
  .Furniture-List {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .Furniture-Image {
    height: 268px;
  }
}
